h1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-weight: bolder;
    text-align: center;
    background: linear-gradient(to right, 
    rgb(109, 131, 238) 0%, 
    rgb(34, 63, 205) 33%, 
    rgb(81, 26, 223) 66%, 
    rgb(92, 19, 160) 100%);
    color: white;
    padding: 20px;
    text-shadow: 2px 1px #716f6f;
}

.jumbotron {

   padding: 1rem;
   border-radius: 0;

}


#search-city {

   width: 80%;

}


#search-button-icon {

   width: 15px;
   display: inline-block;

}


#current-weather {

   padding-left: 15px;

}


#clear-storage {

   color:grey;
   text-decoration: none;
   font-size: .75em;
   margin: .5em 0em 0em .5em;

}


.weather-card {

   width: 9rem;
   background-color: #0275d8;
   color: white;
   text-align: center;

}


.uv-favorable{

   background-color: green;
   border-radius: 5px;
   color: white;

}

.uv-moderate{

   background-color: orange;
   border-radius: 5px;
   color: white;

}

.uv-severe{

   background-color: red;
   border-radius: 5px;
   color: white;

}

@media only screen and (max-width: 992px) {

   #search-city {

       width:100%;

   }

   #search-button{

       width:100%;

   }

}

@media only screen and (max-width: 575px) {

   #fiveDayForecastUl {

       justify-content: center;
       
   }
}