h1 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    background: linear-gradient(to right, 
    rgb(109, 131, 238) 0%, 
    rgb(34, 63, 205) 33%, 
    rgb(81, 26, 223) 66%, 
    rgb(92, 19, 160) 100%);
    color: white;
    padding: 20px;

}

h4 {

   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: bolder;

}

.city-header {

   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: bolder;
   padding: 10px;

}

#city-name {

   margin: 10px;
   font-size: 18px;
   padding: 4px;

}

.btn {

   display: block;
   padding: 5px;
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
   width: 24%;
   background-color: rgb(201, 203, 204);
   border-style: none;
   border-radius: 4px;
   
}

#search {

   background-color: rgb(108, 167, 238);
   color: white;
   width: 24%;

}

#display-information {

   border: 1px solid black;
   line-height: 2.5;
   border-radius: 2px;

}

.container {

   background-color: rgb(53, 72, 97);
   color: white;
   line-height: 2.5;
   display: flex;
   border-radius: 2px;
   flex-direction: column;
   margin: 10px;
   width: 20%;

}